html {
    background-color: #f9fafc;
    font-family: Open Sans;
    font-weight: bold;
    height: 100vh;

}

a {
    text-decoration: none;
    color: #69696a;
    text-transform: capitalize;
}

nav {
display: flex;
flex-direction: column;

}

.nav_ss {

    display: flex;
    flex-direction: column;

}

.nav_links {
    padding-bottom: 10px;

}


.subhead {
    font-size: 150%;

}

.content_Container {
    display: flex;
    width: 100%;
}

.content {
    color: #69696a;
    border-left: solid 2px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    
}


.stick_style {

    display: flex;
    border: 0px solid #000;
    background-color: #000;
    padding: 10px;
    border-radius: 20px;
    color: white;
    width: auto;
    justify-content: center;
}

.stickystyle {

    display: flex;
    border: 0px solid #000;
    background-color: #000;
    padding: 10px;
    border-radius: 20px;
    color: white;
    width: auto;
    justify-content: center;
}


@media only screen and (min-width: 480px) {
    

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    .nav_ss {
        flex-direction: row;
        align-items: baseline;
        }

        .nav_links {
            padding-right: 10px;
        }
 
        
    .content_container {
        width: 50%;
        display: flex;
        height: 720px;
        flex-wrap: wrap;
        align-content: center;
    }

    p {
        display: flex;
        align-content: center;
    }

  
    .circle_container {
        display: flex;
        position: absolute;
        top: 250px;
        right: 720px;
    }
    
    .smCircle {
        border: solid 0px rgb(207, 130, 213, 0.6);
        background-color: rgba(207, 130, 213, 0.6);
        width: 200px;
        height: 200px;
        border-radius: 200px;
        z-index: 2;
        position: absolute;
        top: 50px;
        left: 500px;
     
    
    }
    
    .medCircle {
        border: solid 0px rgba(247, 193, 162, 0.7);
        background-color: rgba(247, 193, 162, 0.7);
        width: 300px;
        height: 300px;
        border-radius: 300px;
        z-index: 3;
        position: absolute;
        top: 200px;
        left: 405px;
    }
    
    .lgCircle {
        border: solid 0px rgba(247, 136, 167, 0.6);
        background-color: rgba(247, 136, 167, 0.6);
        width: 400px;
        height: 400px;
        border-radius: 400px;
        z-index: 1;
        position: absolute;
        left: 170px;
    }
    .stickystyle {
        width: 175px;
        /* display: flex;
        justify-content: space-around; */

    }
    .main_circle_container {
        display: flex;
        width: 50%;
    }
    .sticky_btn {
        display: flex;
        flex-direction: row; 
        justify-content: center;    
    }
}



